html {
	@import "../node_modules/@dodobrat/react-ui-kit/build/assets/app.scss";

	&[dark="false"] {
		@import "../node_modules/@dodobrat/react-ui-kit/build/assets/themes/light";
		@import "../node_modules/@dodobrat/react-ui-kit/build/assets/app.scss";
	}

	&[dark="true"] {
		@import "../node_modules/@dodobrat/react-ui-kit/build/assets/themes/dark";
		@import "../node_modules/@dodobrat/react-ui-kit/build/assets/app.scss";
	}
}

.drag {
	padding: 2rem;
	border: 2px solid black;
	cursor: pointer;
	&-container {
		display: flex;
		&.vertical {
			height: 30rem;
			flex-direction: column;
		}
	}
}

.nav {
	a {
		display: block;
		white-space: nowrap;
		padding: 1rem;
		color: unset;
	}
}

.icons-page {
	svg[aria-label="dui_icon"] {
		height: 2.5em;
		width: 2.5em;
		transform: unset;
	}
}
